In [1]:
%matplotlib inline

from IPython.display import display as d
import pandas as pd
import numpy as np
import seaborn as sns
sns.set(rc={'figure.figsize':(12,12)})
sns.set_style("white")
import glob
import json
import os
import sys
import json
import shutil
import os
import sys
import multiprocessing
from pprint import pprint
import shutil
pool = multiprocessing.Pool(multiprocessing.cpu_count())

from sklearn.metrics import *
from sklearn.metrics import plot_confusion_matrix

def calc_metrics(y_true, y_pred):
    return {
        "accuracy": accuracy_score(y_true, y_pred),
        "precision": precision_score(y_true, y_pred),
        "recall": recall_score(y_true, y_pred),
        "f1": f1_score(y_true, y_pred),
        "mcc": matthews_corrcoef(y_true, y_pred),
        "confusion_matrix": confusion_matrix(y_true, y_pred)
    }

In [2]:
def read_json(x):
    with open(x) as xfp:
        return json.load(xfp)

In [6]:
import itertools

def analysis(dataset):

    dr = pd.DataFrame(read_json(f"data/avt_image_db/prediction_{dataset}.json"))

    dr["image"] = dr["image"].apply(lambda x: os.path.basename(os.path.splitext(x)[0]))
    dr["pred"] = dr["prediction"].apply(lambda x: 1 if x > 0.5 else 0)
    d(dr.head())

    dm = dr.copy()
    for x in sorted(list(glob.glob(f"data/avt_image_db/annotations/*_{dataset}.ldjson"))):
        print(x)
        v = []
        with open(x) as xfp:
            for l in xfp:
                v.append(json.loads(l))
        rater = os.path.basename(x).split("_")[0]
        dd = pd.DataFrame(v)
        dd["image"] = dd["image"].apply(lambda x: os.path.basename(os.path.splitext(x)[0]))
        dd[rater] = dd["decision"].apply(lambda x: 1 if x=="yes" else 0)
        dm = pd.merge(dm, dd[["image", rater]], left_on="image", right_on="image")
    d(dm.head())
    
    raters = list(dm.columns.difference(["image", "prediction", "pred"]))
    
    dm["mean"] = (sum([dm[x] for x in raters]) / len(raters)).apply(lambda x: 1 if x > 0.5 else 0)
    d(dm.head())
    dm.to_csv(f"{dataset}_annotations.csv", index=False)
    raters +=["mean"]
    
    _metrics = []
    for x1, x2 in itertools.combinations(raters, 2):
        m = calc_metrics(dm[x1], dm[x2])
        m["comp"] = x1 + "~" + x2
        _metrics.append(m)
    for rater in raters:
        m = calc_metrics(dm["pred"], dm[rater])
        m["comp"] = "pred~" + rater
        _metrics.append(m)
    dmetrics = pd.DataFrame(_metrics)
    d(dmetrics)
    dmetrics[["comp", "accuracy", "precision", "recall", "f1", "mcc"]].round(3).to_latex(f"avt_image_db_{dataset}.tex", index=False)

In [7]:
analysis("rule_of_thirds")

      image    prediction  pred
0  7rufkxj9  3.434896e-06     0
1  crvBFbVE  3.850217e-07     0
2  kOUofVfI  3.752668e-09     0
3  Q9ZTaXS0  9.228650e-06     0
4      1782  2.680042e-11     0

data/avt_image_db/annotations/E1_rule_of_thirds.ldjson
data/avt_image_db/annotations/E2_rule_of_thirds.ldjson
data/avt_image_db/annotations/E3_rule_of_thirds.ldjson
data/avt_image_db/annotations/E4_rule_of_thirds.ldjson
data/avt_image_db/annotations/E5_rule_of_thirds.ldjson

      image    prediction  pred  E1  E2  E3  E4  E5
0  7rufkxj9  3.434896e-06     0   0   0   0   1   0
1  crvBFbVE  3.850217e-07     0   0   0   0   0   0
2  kOUofVfI  3.752668e-09     0   0   0   0   0   0
3  Q9ZTaXS0  9.228650e-06     0   0   0   0   1   0
4      1782  2.680042e-11     0   0   0   1   0   0

      image    prediction  pred  E1  E2  E3  E4  E5  mean
0  7rufkxj9  3.434896e-06     0   0   0   0   1   0     0
1  crvBFbVE  3.850217e-07     0   0   0   0   0   0     0
2  kOUofVfI  3.752668e-09     0   0   0   0   0   0     0
3  Q9ZTaXS0  9.228650e-06     0   0   0   0   1   0     0
4      1782  2.680042e-11     0   0   0   1   0   0     0

,accuracy,precision,recall,f1,mcc,confusion_matrix,comp
0,0.704200,0.708000,0.406897,0.516788,0.351287,"[[611, 73], [258, 177]]",E1~E2
1,0.642538,0.581395,0.287356,0.384615,0.192741,"[[594, 90], [310, 125]]",E1~E3
2,0.618409,0.509662,0.485057,0.497055,0.190094,"[[481, 203], [224, 211]]",E1~E4
3,0.672922,0.771654,0.225287,0.348754,0.281063,"[[655, 29], [337, 98]]",E1~E5
4,0.766756,0.922330,0.436782,0.592824,0.519952,"[[668, 16], [245, 190]]",E1~mean
5,0.716711,0.344186,0.296000,0.318280,0.141401,"[[728, 141], [176, 74]]",E2~E3
6,0.663986,0.347826,0.576000,0.433735,0.228886,"[[599, 270], [106, 144]]",E2~E4
7,0.804290,0.622047,0.316000,0.419098,0.342429,"[[821, 48], [171, 79]]",E2~E5
8,0.871314,0.757282,0.624000,0.684211,0.608811,"[[819, 50], [94, 156]]",E2~mean
9,0.645219,0.280193,0.539535,0.368839,0.171277,"[[606, 298], [99, 116]]",E3~E4
10,0.780161,0.377953,0.223256,0.280702,0.168755,"[[825, 79], [167, 48]]",E3~E5
11,0.811439,0.509709,0.488372,0.498812,0.382885,"[[803, 101], [110, 105]]",E3~mean
12,0.695264,0.787402,0.241546,0.369686,0.309359,"[[678, 27], [314, 100]]",E4~E5
13,0.767650,0.873786,0.434783,0.580645,0.495682,"[[679, 26], [234, 180]]",E4~mean
14,0.891868,0.514563,0.834646,0.636637,0.600606,"[[892, 100], [21, 106]]",E5~mean
15,0.646113,0.489655,0.550388,0.518248,0.241116,"[[510, 222], [174, 213]]",pred~E1
16,0.655943,0.504000,0.325581,0.395604,0.178346,"[[608, 124], [261, 126]]",pred~E2
17,0.619303,0.409302,0.227390,0.292359,0.065064,"[[605, 127], [299, 88]]",pred~E3
18,0.596962,0.422705,0.452196,0.436954,0.123831,"[[493, 239], [212, 175]]",pred~E4
19,0.674710,0.590551,0.193798,0.291829,0.184082,"[[680, 52], [312, 75]]",pred~E5
20,0.672029,0.548544,0.291990,0.381113,0.202427,"[[639, 93], [274, 113]]",pred~mean

In [8]:
analysis("simplicity")

      image    prediction  pred
0  7rufkxj9  3.830996e-02     0
1  crvBFbVE  1.875058e-02     0
2  kOUofVfI  1.000000e+00     1
3  Q9ZTaXS0  7.786412e-01     1
4      1782  4.097230e-07     0

data/avt_image_db/annotations/E1_simplicity.ldjson
data/avt_image_db/annotations/E2_simplicity.ldjson
data/avt_image_db/annotations/E3_simplicity.ldjson
data/avt_image_db/annotations/E4_simplicity.ldjson
data/avt_image_db/annotations/E5_simplicity.ldjson

      image    prediction  pred  E1  E2  E3  E4  E5
0  7rufkxj9  3.830996e-02     0   1   1   1   1   1
1  crvBFbVE  1.875058e-02     0   0   1   0   1   0
2  kOUofVfI  1.000000e+00     1   1   1   0   1   1
3  Q9ZTaXS0  7.786412e-01     1   0   1   0   0   0
4      1782  4.097230e-07     0   1   1   1   1   1

      image    prediction  pred  E1  E2  E3  E4  E5  mean
0  7rufkxj9  3.830996e-02     0   1   1   1   1   1     1
1  crvBFbVE  1.875058e-02     0   0   1   0   1   0     0
2  kOUofVfI  1.000000e+00     1   1   1   0   1   1     1
3  Q9ZTaXS0  7.786412e-01     1   0   1   0   0   0     0
4      1782  4.097230e-07     0   1   1   1   1   1     1

,accuracy,precision,recall,f1,mcc,confusion_matrix,comp
0,0.689008,0.525758,0.908377,0.666027,0.466281,"[[424, 313], [35, 347]]",E1~E2
1,0.808758,0.836000,0.547120,0.661392,0.559500,"[[696, 41], [173, 209]]",E1~E3
2,0.657730,0.499255,0.876963,0.636277,0.407484,"[[401, 336], [47, 335]]",E1~E4
3,0.821269,0.791667,0.646597,0.711816,0.590470,"[[672, 65], [135, 247]]",E1~E5
4,0.915996,0.852941,0.910995,0.881013,0.817261,"[[677, 60], [34, 348]]",E1~mean
5,0.610366,0.948000,0.359091,0.520879,0.390591,"[[446, 13], [423, 237]]",E2~E3
6,0.781055,0.809240,0.822727,0.815928,0.545966,"[[331, 128], [117, 543]]",E2~E4
7,0.638963,0.910256,0.430303,0.584362,0.405084,"[[431, 28], [376, 284]]",E2~E5
8,0.751564,0.968137,0.598485,0.739700,0.582656,"[[446, 13], [265, 395]]",E2~mean
9,0.573727,0.330849,0.888000,0.482085,0.315661,"[[420, 449], [28, 222]]",E3~E4
10,0.821269,0.580128,0.724000,0.644128,0.532490,"[[738, 131], [69, 181]]",E3~E5
11,0.844504,0.593137,0.968000,0.735562,0.672392,"[[703, 166], [8, 242]]",E3~mean
12,0.618409,0.891026,0.414307,0.565615,0.369773,"[[414, 34], [393, 278]]",E4~E5
13,0.723861,0.943627,0.573770,0.713624,0.531820,"[[425, 23], [286, 385]]",E4~mean
14,0.871314,0.705882,0.923077,0.800000,0.721443,"[[687, 120], [24, 288]]",E5~mean
15,0.770331,0.688482,0.655860,0.671775,0.495648,"[[599, 119], [138, 263]]",pred~E1
16,0.677391,0.530303,0.872818,0.659755,0.429988,"[[408, 310], [51, 350]]",pred~E2
17,0.754245,0.752000,0.468828,0.577573,0.440311,"[[656, 62], [213, 188]]",pred~E3
18,0.635389,0.494784,0.827930,0.619403,0.348195,"[[379, 339], [69, 332]]",pred~E4
19,0.775693,0.740385,0.576060,0.647966,0.495373,"[[637, 81], [170, 231]]",pred~E5
20,0.793566,0.708333,0.720698,0.714462,0.552881,"[[599, 119], [112, 289]]",pred~mean